<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    <table>
        <tr>
            <th>Nama Pembeli</th>
            <th>Nama Barang</th>
            <th>Harga Barang</th>
            <th>Jumlah Barang</th>
            <th>Jumlah Harga Barang</th>
        </tr>
        {{range $y, $x := . }}
        <tr>
          <td>{{ $x.NamaPembeli }}</td>
          <td>{{ $x.Data.NamaBarang }}</td>
          <td>{{ $x.Data.HargaBaang }}</td>
          <td>{{ $x.JumalahBarang }}</td>
          <td>{{ $x.JumlahHargaBarang }}</td>
        </tr>
        {{end}}
        <tr>
          <td colspan="4">Total Harga : {{.TotalAkhir}}</td>
        </tr>

      </table>
</body>
</html>