<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
  <form action="/">
    <button type="submit"> Home</button>
</form>
    <table>
        <tr>
            <th>Nama Pembeli</th>
            <th>Nama Barang</th>
            <th>Harga Barang</th>
            <th>Jumlah Barang</th>
            <th>Jumlah Harga Barang</th>
        </tr> 
        {{$z := len .}}
        {{range $y, $x := . }}
        {{$d := .ForEq $z}}
        <tr>
          <td>{{ $x.NamaPembeli }}</td>
          <td>{{ $x.Data.NamaBarang }}</td>
          <td>{{ $x.Data.HargaBaang }}</td>
          <td>{{ $x.JumalahBarang }}</td>
          <td>{{ $x.JumlahHargaBarang }}</td>
        </tr>   
        {{if eq $y $d}}
        <tr>
          <td colspan="4">Total Harga : {{$x.TotalAkhir}}</td>
        </tr>
        {{end}}
        {{end}}
      </table>
</body>
</html>