<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Shop</title>
</head>
<body>
    <h1>Hello Selamat Datang di Simple Shop</h1>
    <form action="/Masukkan_Barang">
      <button type="submit"> Masukkan Barang</button>
  </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Nama Barang</th>
            <th>Harga Barang</th>
        </tr>
        {{range $y, $x := . }}
        
        <tr>
          <td>{{ $x.ID }}</td>
          <td>{{ $x.NamaBarang }}</td>
          <td>{{ $x.HargaBaang }}</td>
          <td> <form action="/delete/{{ $x.ID }}">
            <button type="submit"> Delete</button>
        </form></td>
        <td> <form action="/edit/{{ $x.ID }}">
          <button type="submit"> Edit</button>
      </form></td>
        </tr>{{end}}
      </table>
</body>
</html>